
            .menu {
            border-radius: 20px;
                display: flex;
                justify-content: space-between;
           
            font-size: x-large;
            font-family: fantasy;
            font-weight: 400;
            color:#000000;
            padding: 15px;
            }

            body{
                margin: 0px;
                background-image: url("images/b1.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                border: 15px solid rgb(12, 12, 12);
               
            }
            .bodyimg{
                position: relative;
            }
            .bodyimg p{
                color:#f7f2f2;
                font-size: 55px;
                font-family: fantasy;
                position: absolute;
                top:10%;
                left:50%;
                transform: translate(-50%,-50%);
            }
            .bodyimg h3{
                color:#f7f2f2;
                font-family: fantasy;
                font-size: 30px;
                width: 1600px;
                position: absolute;
                top:40%;
                left:45%;
                transform: translate(-40%, -40%);
            }
            .grid{
                display: flex;
                flex-wrap: wrap;
                margin: 40px;
            }
           
            .grid img{
                border: 2px solid black;
                border-radius: 50px;
            }

            .origami{
                border-radius: 20px;
                background-color: #ffffff;
                padding: 30px;
                margin: 25px;
                width:310px;
                font-family: fantasy;
            }

           

           

           
           
            a:link{
                color: coral;
            }
            a:visited{
                color: gold;
            }


            .origami:hover {
                transform:scale(1.2);
            }